@model Venta_de_articulos.Models.tbDanio

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del daño</h2>

<div>
    <h4>@*tbDanio*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripción del daño")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Costo de reparación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costoReparacion)
        </dd>

        <dt>
            @Html.DisplayName("Estado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayName("Descripción del reclamo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbReclamo.descripción)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.codDanio  })" class="btn btn-primary">
        Editar
    </a>
    &emsp;
    <a href="@Url.Action("Index")" class="btn btn-info">
        Regresar
    </a>
</p>
