@model IEnumerable<Venta_de_articulos.Models.tbPersona>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>
<div class="row">
    <div class="col-md-10">
        @Html.ActionLink("Nuevo cliente", "Create")
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Regresar", "Index", "Seguro")
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Primer cliente")
        </th>
        <th>
            @Html.DisplayName("Segundo nombre")
        </th>
        <th>
            @Html.DisplayName("Primer apellido")
        </th>
        <th>
            @Html.DisplayName("Segundo apellido")
        </th>
        <th>
            @Html.DisplayName("Telefono")
        </th>
        <th>
            @Html.DisplayName("Fecha de nacimiento")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.primerNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimiento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.codPersona }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.codPersona }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.codPersona })
        </td>
    </tr>
}

</table>
