@model IEnumerable<Venta_de_articulos.Models.tbPersona>

@{
    ViewBag.Title = "Index";
}

<h2>Personas</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> Agregar persona</a>
    <a class="btn btn-success" href="@Url.Action("Index", "Seguro")"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
</p>

<div class="panel panel-default">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Fecha de nacimiento
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.primerNombre @item.segundoNombre @item.primerApellido @item.segundoApellido
                    </td>
                    <td>
                        @item.telefono
                    </td>
                    <td>
                        @item.fechaNacimiento.Value.ToShortDateString()
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.codPersona })" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("Delete", new { id = item.codPersona })" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
