@model Venta_de_articulos.Models.tbDanioResolucion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbDanioResolucion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbDanio.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbDanio.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbResolucion.resolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbResolucion.resolucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codDanioResolucion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
