@model IEnumerable<Venta_de_articulos.Models.tbResolucion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.resolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costoReparacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.resolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costoReparacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codResolucion }) |
            @Html.ActionLink("Details", "Details", new { id=item.codResolucion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codResolucion })
        </td>
    </tr>
}

</table>
