@model Venta_de_articulos.Models.tbVehiculo

@{
    ViewBag.Title = "Details";
}

<h2>Vehículo</h2>

<div>
    <h4>Descripción de vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Placa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placa)
        </dd>

        <dt>
            @Html.DisplayName("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayName("Linea")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linea)
        </dd>

        <dt>
            @Html.DisplayName("Modelo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayName("Color")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.codVehiculo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
