@model Venta_de_articulos.Models.tbReclamo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbReclamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbDanioResolucion.codDanioResolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbDanioResolucion.codDanioResolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbSeguro.codSeguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbSeguro.codSeguro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codReclamo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
